@{
    ViewData["Title"] = "To Do List - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ToDoList.Models.CategoryItem>

<h2>Details</h2>
<hr />

@foreach(var categoryItem in Model)
{
    <p>CatId: @categoryItem.Category.Id ItemId: @categoryItem.Item.Id</p>
}

@*@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)*@

@*@foreach (var category in ViewBag.Categories)
{
    @*<p>@Html.DisplayFor( _ => category.Description)</p>
    <p>@category</p>
}*@

@*@foreach (var priority in ViewBag.Priorities)
{
    <p>@priority</p>
}*@

<p>@Html.ActionLink("Back to list", "Index")</p>